/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #017AFF;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #64A5FF;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}


 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}


.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}


.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
}

header .image-text .lokasi{
    font-size: 12px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 30px;
    width: 30px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}


.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}


.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 12px 60px;
}
/* Home */
.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 30px;
}
.info{
    background-color: var(--primary-color);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color-light);
    font-weight:400;
    font-size: 20px;
    color: var(--primary-color-light);
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.search-container{
    background-color: var(--primary-color);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    margin: 0 20px;
}
.search-bar {
    width: 500px;
    height: 50px;
    background-color: var(--sidebar-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar input[type="search"] {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    color: #333;
}
.search-bar input[type="search"]:focus{
    outline: none;
}

.search-bar button {
    position: relative;
    right: -10px;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--text-color);
    color: #fff;
    cursor: pointer;
}

.search-bar button i {
    font-size: 18px;
    margin: 0 10px;
}
.Date{
    padding: 10px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    
}


.cart {
    width: 530px;
    display: flex;
    background-color: var(--primary-color-light);
    border-radius: 15px;
    padding: 20px;
    align-items: center;
}

.image-placeholder {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    background-image: url('path-to-your-image');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
.image-placeholder img{
    width: 100%;
}

.details {
    flex-grow: 1;
}

.product-name {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color-light);
}

.product-price {
    color: var(--primary-color-light);
    font-size: 1.2em;
    margin: 5px 0;
}

.cart-container{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2;
}
.cart{
    margin: 10px;
    background-color: var(--text-color);
    opacity: 0;  
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;  
    }
    100% {
        opacity: 1;  
    }
}

.quantity {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

button {
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:active {
    transform: scale(0.95);
}

.quantity-input {
    width: 40px;
    text-align: center;
    margin: 0 10px;
    font-size: 1em;
    border:none ;
    border-radius: 4px;
}

.add-to-cart {
    background-color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    text-transform: lowercase;
    margin-top: 10px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin:0;
}